.nav {
  display: flex;
  flex: 1;
  height: 70px;
  background-color: #778899;
  align-items: center;
  margin-bottom: 50px;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 70px;
  margin-left: auto;
}

.nav ul li {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul li:hover {
  cursor: pointer;
  background-color: #00897b;
  font-weight: bold;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

.nav ul li.active {
  background-color: #00897b;
}
.nav ul li span {
  color: white;
  font-weight: bold;
}

.logo {
  width: 100px;
  margin-left: 15px;
}
